.hero-sec {
    padding: 0;
    position: relative;
    background-color: var(--cream-light);

    .main-wrapper {
        position: relative;

        .content-wrapper {
            padding: 60px 0;
        }

        .hero-img {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}

/* Media Query */
@media (max-width:1200px) {
    .hero-sec {
        padding: 60px 0;

        .main-wrapper {
            .content-wrapper {
                padding: 0;
            }

            .hero-img {
                position: static;
            }
        }
    }
}