.hero-sec {
    padding: 160px 0 88px 0;
    background: linear-gradient(to bottom,
            var(--cream-light) 0px,
            var(--cream-light) 700px,
            #ffffff 700px,
            #ffffff 100%);

    .topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        flex-wrap: wrap;
        margin-bottom: 34px;
    }

    .main-title {
        font-weight: 600;
        font-size: clamp(36px, 5.6vw, 56px);
        text-transform: capitalize;
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
        flex-wrap: wrap;

        .client {
            display: flex;
            align-items: center;
            gap: 6px;

            .icon {
                border: 2px solid #ffffff;
                border-radius: 50%;
                box-shadow: 0px 0px 4px 0px #00000010;
            }

            .title {
                font-size: 20px;
                font-weight: 500;
                font-family: 'Poppins', sans-serif;
                margin-bottom: 2px;
            }

            .profession {
                color: #00000060;
                font-size: 14px;
                font-family: 'Poppins', sans-serif;
            }
        }

        .social {
            display: flex;
            align-items: center;
            gap: 12px;
            flex-wrap: wrap;

            .social-title {
                font-size: 20px;
                font-weight: 500;
                color: #2A2E23;
            }

            .social-links {
                display: flex;
                align-items: center;
                gap: 14px;

                .icon {
                    width: 40px;
                    height: 40px;
                    border-radius: 4px;
                    border: 1px solid #2A2E23;
                    background-color: #ffffff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all .3s ease;

                    img {
                        transition: all .3s ease;
                    }

                    &:hover {
                        background-color: #2A2E23;

                        img {
                            filter: brightness(0) invert(1);
                        }
                    }
                }
            }
        }
    }

    .blog-form-wrapper {

        .blog-form {
            box-shadow: 0px 0px 24px 0px #00000013;
            background-color: #FFF4EB;
            border-radius: 12px;
            padding: 22px 14px;
        }
    }

    .categories-buttons {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 30px;

        .category-btn {
            color: #785B46;
            border: 1px solid #785B46;
            font-weight: bold;
            border-radius: 40px;
            padding: 13px 34px;
            height: fit-content;
            width: fit-content;
            transition: all .3s ease;

            &:hover {
                background-color: #785B46;
                color: white;
            }
        }
    }

    .blog-pagination {
        display: flex;
        justify-content: space-between;
        gap: 24px;
        flex-wrap: wrap;
        margin-bottom: 30px;

        .content {
            max-width: 270px;
        }
    }

    .review-card {
        border-radius: 12px;
        padding: 28px;
        background-color: #ffffff;
        box-shadow: 3px 27px 75px 0px #00000013;

        .topbar {
            margin-bottom: 17px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 24px;
            flex-wrap: wrap;

            .detail {
                display: flex;
                align-items: center;
                gap: 16px;
            }

            .socail-icons {
                display: flex;
                align-items: center;
                gap: 20px;
            }
        }
    }
}