.why-choose-us-sec{
    padding: 48px 0;
    background-color: #fff5ee;
}


/* Media Query */
@media (min-width:992px) {
    .why-choose-us-sec{
        .card-wrapper{
            .border-right{
                border-right: 1px solid white;
            }
        }
    }
}
@media (max-width:992px) {
    .why-choose-us-sec{
        .card-wrapper{
            display: grid;
            grid-template-columns: 1fr 1fr;
            .border-right{
                display: none;
            }
        }
    }
}
@media (max-width:440px) {
    .why-choose-us-sec{
        .card-wrapper{
            display: grid;
            grid-template-columns: 1fr;
        }
    }
}  