.contact-card-sec {
    .contact-card-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;

        .contact-card {
            border: 1px solid #00000012;
            padding: clamp(20px, 3.5vw, 35px);
            border-radius: 16px;
            width: 100%;
            max-width: 358px;
            position: relative;
            padding-top: 117px;
            transition: all .3s ease;
            z-index: 0;
            cursor: pointer;

            &:hover {
                background-color: white;
                box-shadow: 0px 0px 28px 0px #00000010;
                border-color: transparent;

                .icon-wrapper {
                    .icon {
                        background-color: var(--primary);
                    }

                    img {
                        filter: brightness(0) invert(1);
                    }
                }
            }

            .icon-wrapper {
                position: absolute;
                z-index: 1;
                top: -1px;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                justify-content: center;
                background-color: white;
                width: 103px;
                height: 93px;
                border: 1px solid #00000012;
                border-top: none;
                border-radius: 0 0 16px 16px;

                .icon {
                    width: 83px;
                    height: 83px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 14px;
                    border: 1px solid #00000012;
                    background-color: #FAF2ED05;
                    transition: all .3s ease;

                    img {
                        object-fit: contain;
                        transition: all .3s ease;
                    }
                }
            }

            .card-content {
                text-align: center;

                .card-title {
                    font-family: 'Poppins', sans-serif;
                    font-size: clamp(22px, 2.6vw, 26px);
                    font-weight: 600;
                    margin-bottom: 12px;
                    color: #000000;
                }

                .card-info {
                    color: #000000;
                    font-size: clamp(22px, 2.6vw, 26px);
                    font-weight: 300;
                }
            }
        }
    }
}


// Media Query
@media (max-width:1200px) {
    .contact-card-sec {
        .contact-card-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            .contact-card {
                max-width: 100%;
            }
        }
    }
}

@media (max-width:992px) {
    .contact-card-sec {
        .contact-card-wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width:768px) {
    .contact-card-sec {
        .contact-card-wrapper {
            display: grid;
            grid-template-columns: 1fr;
        }
    }
}