.contact-sec {
    padding-top: 46px;
    background: linear-gradient(to bottom,
            var(--cream-light) 0%,
            var(--cream-light) 50%,
            #ffffff 50%,
            #ffffff 100%);

    .contact-form {
        border-radius: 12px;
        border-right: 10px solid #000000;
        border-bottom: 10px solid #000000;
        box-shadow: 0px 0px 25px 0px #00000013;
        background-color: #FFF4EB;
        padding: 30px 24px 49px;

        .form.s1 {
            .input-wrapper {
                display: grid;
                grid-template-columns: 1fr 1fr;

                > :nth-child(n+5) {
                    grid-column: span 2;
                }
            }
        }
    }
}


// Media Query
@media (max-width:576px) {
    .contact-sec {
        .contact-form {
            .form.s1 {
                .input-wrapper {
                    grid-template-columns: 1fr;

                    > :nth-child(n+5) {
                        grid-column: unset;
                    }
                }
            }
        }
    }
}