.faq-sec {
    .faq-wrapper {
        .faq-item {
            border: 1.5px solid #E0E0E0;
            border-radius: 6px;
            margin-bottom: 18px;
            overflow: hidden;
            background-color: transparent;
            transition: all .3s ease;

            &:hover,
            &.active{
                background-color: #ffffff;
                border-color: #191919;
                .faq-question{
                    background-color: white;
                }
            }

            &.active{
                border-right: 5px solid #191919;
                border-bottom: 5px solid #191919;
                .faq-answer{
                    max-height: 500px;
                    padding: 0px 18px 26px 18px;
                }
            }

            .faq-question {
                padding: 16px 18px;
                cursor: pointer;
                font-weight: 600;
                background: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #FFFAF6;
                transition: all .3s ease;

                .faq-icon {
                    font-size: 24px;
                    transition: transform .3s;
                }
            }

            .faq-answer {
                max-height: 0;
                overflow: hidden;
                padding: 0 20px;
                background: #fff;
                transition: all .3s ease;
            }
        }
    }
}