.featured-blog-sec {
    background-color: #fffaf6;

    .blog-card-wrapper {
        padding: 30px 0;
        height: 100%;
        width: 100%;
        max-width: 630px;

        .blog-featured-card {
            border-radius: 12px;
            border-right: 12px solid #000000;
            border-bottom: 12px solid #000000;
            padding: 32px;
            background-color: #ffffff;
            transform: translateX(-110px);
            width: 100%;
            height: 100%;
            min-width: 605px;

            .topbar {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 16px;
                flex-wrap: wrap;
            }

            .featured-title {
                font-family: 'Poppins', sans-serif !important;
                font-weight: 700;
                font-size: 26px;
                margin-bottom: 12px;
                text-transform: capitalize;
            }

            .bottom {
                display: flex;
                gap: 16px;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;

                .icon {
                    border: 2px solid #ffffff;
                    box-shadow: 0px 0px 4px 0px #00000010;
                    border-radius: 50%;
                }
            }
        }
    }

    h2.h3.title {
        margin-top: 60px;
        margin-bottom: 30px;
    }

}


/* Media Query */
@media (max-width:1200px) {
    .featured-blog-sec {
        .blog-card-wrapper {
            max-width: unset;
            padding: 0;

            .blog-featured-card {
                min-width: unset;
                transform: unset;
            }
        }

        h2.h3.title {
            margin-top: 40px;
        }
    }
}