.footer {
    padding-top: clamp(45px,6vw,60px);
    .footer-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        border-bottom: 1px solid #C9C9C9;
        padding-bottom: clamp(40px, 5.6vw, 56px);

        .footer-content {
            max-width: 398px;

            .footer-logo {
                font-size: clamp(34px, 5vw, 54px);
                font-weight: 700;
                color: var(--text);
            }
        }

        .footer-list {
            .list-title {
                font-size: 22px;
                font-weight: 600;
                font-family: 'Poppins', sans-serif;
            }

            .footer-menu {
                display: flex;
                flex-direction: column;
                gap: clamp(16px, 2.4vw, 24px);

                li {
                    font-weight: 500;

                    a {
                        color: var(--text);
                        transition: all .3s ease;

                        &:hover {
                            color: var(--primary);
                        }
                    }
                }
            }
        }
    }

    .footer-bottom {
        padding: clamp(24px, 3.6vw, 36px) 0 clamp(38px, 5vw, 50px) 0;
        text-align: center;
    }
}

/* media query */
@media (max-width:992px) {
    .footer {
        .footer-wrapper {
            display: grid;
            grid-template-columns: 2fr 1fr;
            gap: 32px;

            .footer-content {
                max-width: 100%;
            }

            .footer-list {
                .list-title {
                    margin-bottom: 32px;
                }
            }
        }
    }
}

@media (max-width:768px) {
    .footer {
        .footer-wrapper {
            display: grid;
            grid-template-columns: 1fr;
            gap: 24px;

            .footer-list {
                .list-title {
                    margin-bottom: 24px;
                }
            }
        }
    }
}