.header {
    border-bottom: 1px solid #00000010;
    padding: 24px 0;
    position: sticky;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10000;
    background-color: #FFFAF6;

    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .logo {
            font-size: 34px;
            font-weight: 700;
            color: #000000;
            text-transform: uppercase;
        }

        .nav {
            display: flex;

            &.active {
                transform: translateY(0);
                opacity: 1;
                pointer-events: auto;
            }

            .menu {
                display: flex;
                align-items: center;
                gap: 36px;

                .menu-links {
                    a {
                        color: var(--text);
                        transition: all .3s ease;

                        &:hover {
                            color: var(--primary);
                        }

                        &.active {
                            color: var(--primary);
                            font-weight: 700;
                        }
                    }
                }
            }
        }

        .header-btn,
        .nav-btn {
            padding: 14px 24px;
        }

        .menu-toggle {
            display: none;
            background: none;
            border: 0;
            cursor: pointer;
            width: 30px;
            height: 22px;
            position: relative;

            span {
                position: absolute;
                left: 0;
                width: 100%;
                height: 3px;
                background: #000;
                transition: .3s;

                &:nth-child(1) {
                    top: 0;
                }

                &:nth-child(2) {
                    top: 9px;
                }

                &:nth-child(3) {
                    bottom: 0;
                }
            }

            &.active {
                span:nth-child(1) {
                    transform: rotate(45deg);
                    top: 9px;
                }

                span:nth-child(2) {
                    opacity: 0;
                }

                span:nth-child(3) {
                    transform: rotate(-45deg);
                    bottom: 9px;
                }
            }
        }

    }

    @media(max-width:992px) {
        .header-btn {
            display: none;
        }

        .menu-toggle {
            display: block !important;
        }

        .nav {
            position: absolute;
            top: 66px;
            right: 0;
            width: 100%;
            background: #fff;
            border-radius: 8px;
            transform: translateY(-20px);
            opacity: 0;
            pointer-events: none;
            transition: .4s;

            .menu {
                flex-direction: column;
                align-items: start !important;
                width: 100%;
                height: 100%;
                max-height: 200px;
                overflow-y: auto;
                padding: 20px;
                gap: 20px !important;
            }
        }
    }
}