.hero-sec {
    background-color: #fff6ef;
    padding: 30px 0;
    padding-bottom: 160px;
    position: relative;

    // .content-wrapper {
    //     padding: 40px 0;
    // }

    .obj-wrapper {
        position: absolute;
        right: 25px;
        width: 50%;

        .buttons {
            display: flex;
            align-items: end;
            flex-direction: column;
            gap: 16px;
            position: absolute;
            top: 60px;
            right: 0;

            .secondary-btn {
                border: none;
                background-color: white;
                padding: 6px;
                box-shadow: 0px 0px 12px 0px #00000010;
                font-size: 15px;
                gap: 6px;
            }
        }

        .card {
            border-radius: 12px;
            padding: 12px;
            background-color: #ffffff;
            border: 2px solid #000000;
            width: fit-content;
            width: 100%;
            max-width: 309px;
            position: absolute;
            right: 0;
            bottom: 80px;
        }
    }
    .content {
        ul {
            li {
                padding-left: 32px;
                font-weight: 400;
                font-family: "Inter", sans-serif;
                position: relative;
                margin-bottom: 16px;

                &::before {
                    content: "";
                    position: absolute;
                    background: url("./../img/icon/home-hero-check-icon1.webp") center/ contain no-repeat;
                    width: 20px;
                    height: 20px;
                    left: 0;
                    top: 0;
                }
            }
        }
    }
}

// media query
@media (max-width: 1200px) {
    .hero-sec {
        .content-wrapper {
            padding: 0;
        }

        .obj-wrapper {
            width: 100%;
            position: static;
            margin-top: 24px;
            display: flex;
            gap: 24px;
            flex-direction: column;
            align-items: center;

            .buttons {
                position: static;
                align-items: center;
            }

            .card {
                position: static;
                height: fit-content;
            }
        }
    }
}
