.infinite-slider-sec {
    padding-bottom: 0;

    .logo-slider-wrapper {
        position: relative;
        overflow: hidden;
        margin-bottom: 32px;

        &:last-child {
            margin-bottom: 0;
        }

        .logo-slider {
            display: flex;
            gap: 70px;

            .slide {
                flex: 0 0 auto;
                display: flex;
                flex-direction: column;
                align-items: center;

                .icon-wrapper {
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 4px solid #ffffff;
                    box-shadow: 0px 0px 10px 0px #00000012;
                    background-color: #EFEFEF;
                    width: 88px;
                    height: 88px;
                    min-width: 88px;
                    padding: 16px;
                    img{
                        width: 55px;
                        height: auto;
                    }
                }
            }
        }
    }
}

/* media query */
@media(max-width: 768px) {
    .infinite-slider-sec {
        .logo-slider-wrapper {
            .logo-slider {
                gap: 20px;
            }
        }
    }
}