.why-choose-us {
    background: linear-gradient(to bottom,
            #fff5ee 0%,
            #fff5ee 50%,
            #ffffff 50%,
            #ffffff 100%);
    .card-wrapper{
        box-shadow: 0px 4px 48px 0px #00000015;
        padding: 32px;
        background-color: #ffffff;
        .icon-card{
            display: flex;
            align-items: center;
            gap: 20px;
            padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: 1px solid #00000010;
            &:last-child{
                padding-bottom: 0;
                margin-bottom: 0;
                border-bottom: none;
            }
            .content{
                .icon-card-title{
                    font-size: clamp(24px,3.2vw,32px);
                    font-weight: bold;
                    display: block;
                    margin-bottom: 8px;
                }
                .icon-card-description{
                    font-size: 18px;
                    font-weight: 500;
                }
            }
        }
    }
}


/* Media Query */
@media (max-width:576px) {
    .why-choose-us{
        .card-wrapper{
            padding: 24px;
            .icon-card{
                flex-direction: column;
                justify-content: center;
                .content{
                    text-align: center;
                }
            }
        }
    }
} 